<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gn.board.repository.BoardMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            rboard (
                title,
                content,
                create_dt,
                update_dt
            )
        VALUES
            (
                #{title},
                #{content},
                NOW(),
                NOW()
            )
    </insert>

    <select id="findBoards" resultType="Board">
        SELECT
            id,
            title,
            content,
            create_dt,
            update_dt
        FROM
            rboard
        WHERE
            1=1
        <if test="boardIds.size() != 0">
            AND
                id
            IN
            <foreach collection="boardIds" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="findById" resultType="Board">
        SELECT
            id,
            title,
            content,
            create_dt,
            update_dt
        FROM
            rboard
        WHERE
            id = #{boardId}
    </select>

</mapper>
